name: Build and Run

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: tshirts fail
      run: |
        g++ -Wall -Wextra -Werror tshirts.cpp Test_tshirts.cpp -o Test_tshirts.out
        ./Test_tshirts.out

    - name: misaligned fail
      run: |
        g++ -Wall -Wextra -Werror misaligned.cpp Test_misaligned.cpp -o Test_misaligned.out
        ./Test_misaligned.out
    - name: alerter fail
      run: |
        g++ -Wall -Wextra -Werror  alerter.cpp -o alerter.out
        ./alerter.out
